#bg {
  animation: none !important;
  background-position-y: 9px !important;
}

@media only screen and (max-width: 896px) {
  #bg {
    background-position-y: 107px !important;
  }
}
@media only screen and (max-width: 500px) {
  #bg {
    background-position-y: 48px !important;
  }
}
